+++
title = "ModemManager"
linkTitle = "ModemManager"

+++

{{< blocks/cover title="ModemManager" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Read the docs <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://gitlab.freedesktop.org/mobile-broadband">
		Contribute <i class="fab fa-gitlab ml-2 "></i>
	</a>
	<p class="lead mt-5">
	  <b>WWAN device management made easy!</b>
	</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
  ModemManager is a system daemon which controls **WWAN (2G/3G/4G/5G)** devices and connections.

  Alongside [NetworkManager](https://networkmanager.dev/), **ModemManager** is the default mobile broadband management system in most standard GNU/Linux distributions ([Debian](https://packages.debian.org/source/sid/modemmanager), [Fedora](https://src.fedoraproject.org/rpms/ModemManager), [Ubuntu](https://launchpad.net/ubuntu/+source/modemmanager), [Arch Linux](https://archlinux.org/packages/extra/x86_64/modemmanager/)...), and is also available in custom systems built with e.g. [buildroot](https://git.busybox.net/buildroot/tree/package/modem-manager), [yocto/openembedded](https://github.com/openembedded/meta-openembedded/tree/master/meta-oe/recipes-connectivity/modemmanager) or [ptxdist](https://git.pengutronix.de/cgit/ptxdist/tree/rules/modemmanager.make).

  ModemManager may also be used in routers running [openwrt](https://github.com/openwrt/packages/tree/master/net/modemmanager) (integrated with netifd as a new protocol handler), or to manage both voice and data in mobile phones running [postmarketos](https://postmarketos.org) (PINE64 PinePhone, BQ Aquaris X5, OnePlus 6...).

  **libqmi**, **libmbim** and **libqrtr-glib** are additional libraries that are developed under the umbrella of the ModemManager project, but which can also be used independently with their own command line tools.
{{% /blocks/lead %}}


{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fas fa-book" title="Read the documentation" %}}
This website provides [multiple resources](/docs) that will let you understand how the ModemManager daemon works and how it can be used either from other applications or from the command line.
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-gitlab" title="Contribute changes or report bugs" %}}
The project sources and issue trackers are maintained in the [**freedesktop.org** gitlab instance](https://gitlab.freedesktop.org/mobile-broadband).
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-at" title="Join our discussion mailing lists" %}}
You can suggest new features or ask questions about these projects in the different **mailing lists** we maintain for [ModemManager](http://lists.freedesktop.org/mailman/listinfo/modemmanager-devel), [libmbim](http://lists.freedesktop.org/mailman/listinfo/libmbim-devel) and [libqmi](http://lists.freedesktop.org/mailman/listinfo/libqmi-devel).
{{% /blocks/feature %}}

{{< /blocks/section >}}
